.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.logoContainer {
  margin-top: 10px;
}

.form {
  width: 350px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form header {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 20px 0;
}

.form label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  color: gray;
  font-size: .8rem;
}

.form label input {
  border: none;
  border-bottom: 1px solid #d3d3d3;
  width: 330px;
  margin-top: 15px;
  outline: none;
}

.createButton {
  font-family: inherit;
  background-color: #4840bb;
  border: 1px solid #4840bb;
  color: #FFFFFF;
  border-radius: 8px;
  width: 340px;
  height: 40px;
  margin: 30px 0 10px 0;
}